
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    Document
    {% endblock title %}
</head>
<body>
    {% block content %}
    <main>
        <div class="task-form">
            <h1>Edit task</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Edit</button>
            </form>
        </div>
    </main>
    {% endblock content %}
</body>
</html>
