
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    Document
    {% endblock title %}
</head>
<body>
    {% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>My Tasks</h1>
            {% if show_my_tasks %}
            <table>
                <thead>
                    <tr>
                        <th>Project name</th>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in show_my_tasks %}
                    <tr>
                        <td>{{ task.project.name }}</td>
                        <td><a href="{% url 'edit_task' task.id %}">{{ task.name }}</a></td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.is_completed|yesno:"yeah,❌,maybe" }}</td>
                        <td>
                            <ul>
                            <li><a href="{% url 'create_note' task.id %}">Add Note </a></li>
                            <li><a href="{% url 'view_notes' task.id %}">View Note </a></li>
                            </ul>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% else %}
            <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
    {% endblock content %}
</body>
</html>
