
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    Document
    {% endblock title %}
</head>
<body>
    {% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>My Notes</h1>
            {% if view_notes.count != 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% comment %} {% for task in view_notes %} {% endcomment %}
                    <tr>
                        <td>{{ note }}</td>
                    </tr>
                    {% comment %} {% endfor %} {% endcomment %}
                </tbody>
            </table>

            {% else %}
            <p>You have no notes</p>
            {% endif %}
        </div>
    </main>
    {% endblock content %}
</body>
</html>
