{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}

    {% endblock title %}
</head>
<body>
    {% block content %}
    <main>
        <div>
            <form method="GET" action={% url 'show_companies' %}>
                {% csrf_token %}
                <select name = "company_id">
                <option selected disabled=true>--Select Company--</option>
                <option value="-1">All</option>
                    {% for company in dropdown_companies %}
                    <option value={{ company.id }}>{{ company.name }}</option>
                    {% endfor %}
                </select>
                <input type ="submit" value = "Filter">
            </form>
        </div>
{% comment %} <a href="/projects/company?company_id=2">joes body shop</a> {% endcomment %}
        <div>
            <h1><h1>Company List</h1></h1>
            <table>
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Number of Projects Associated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in show_companies %}
                    <tr>
                        <td>{{ company.name }}</td>
                        <td>{{ company.projects.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </main>
    {% endblock content %}

</body>
</html>
