
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {{ tasks_list.name }}
    {% endblock title %}
</head>
<body>
    {% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ tasks_list.name }}</h1>
            <p>{{ tasks_list.description }}</p>
            <h2>Tasks</h2>
            <p><a href="{% url 'create_task' %}">Create Task</a></p>
            {% if tasks_list.tasks.all %}
            <table>
                <thead>
                    <tr>

                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks_list.tasks.all %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.assignee }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.is_completed|yesno:"✅,❌,maybe" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
    {% endblock content %}

</body>
</html>
