
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    Projects Home
    {% endblock title %}
</head>
<body>
    {% block content %}
    <main>
        <div class="project-list">
            <h1>My Projects</h1>
            <p><a href="{% url 'create_project' %}">Create Project</a></p>
            {% if project_list %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in project_list %}
                    <tr>
                        <td><a href="{% url 'show_project' item.id %}"> {{ item.name }}</a></td>
                        <td> {{ item.tasks.all|length }} </td>
                    </tr>
                </tbody>
                    {% endfor %}
            </table>

            {% else %}
            <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
    </main>
    {% endblock content %}

</body>
</html>
